// banner
$nav_bg_color: WhiteSmoke
$nav_height: 48px

// sponsor
$footer_bg_color: WhiteSmoke
$footer_height: 48px

// container for map and list
$hackingmap_bg_color: White

// HackingMap (map view)
$map_bg_color: white
$toolbar_bg_color: White
// $statue_proposal: #BADAF9
$statue_proposal: RoyalBlue
// $statue_recruit: #F9E8BC
$statue_recruit: Orange
// $statue_hacking: #F4FBBD
$statue_hacking: Red
// $statue_demo: #AAFECB
$statue_demo: LimeGreen
// $statue_giveup: #FFB9CE
$statue_giveup: LightGrey

// HackingMap (list view)
$list_bg_color: white

// Chat
$chat_bg_color: Gainsboro
